# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

/front/dist
/front/tmp
/front/node_modules
/front/bower_components
/front/.sass-cache
/front/connect.lock
/front/coverage/*
/front/libpeerconnection.log
/front/npm-debug.log
/front/testem.log

/front-end/dist
/front-end/tmp
/front-end/node_modules
/front-end/bower_components
/front-end/.sass-cache
/front-end/connect.lock
/front-end/coverage/*
/front-end/libpeerconnection.log
/front-end/npm-debug.log
/front-end/testem.log

/frontend/dist
/frontend/tmp
/frontend/node_modules
/frontend/bower_components
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log

/backend/.bundle
/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal
/backend/log/*
/backend/tmp
